* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body,
.fillContainer {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
